---
http_interactions:
- request:
    method: get
    uri: https://api.seatgeek.com/2/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"2dd4ec22c1cf9ff1d2946f302692e5efc6beb2c9"'
    body:
      encoding: UTF-8
      string: '{"meta":{"per_page":10,"total":126418,"geolocation":null,"took":7,"page":1},"events":[{"links":[],"id":2324333,"stats":{"listing_count":0,"average_price":null,"lowest_price":null,"highest_price":null},"title":"Killah
        Priest with M80","announce_date":"2014-09-09T00:00:00","score":0.11504,"date_tbd":false,"type":"concert","datetime_local":"2014-11-07T03:30:00","visible_until_utc":"2014-11-08T05:00:00","time_tbd":true,"taxonomies":[{"parent_id":null,"id":2000000,"name":"concert"}],"performers":[{"stats":{"event_count":1},"name":"M80","short_name":"M80","url":"https://seatgeek.com/m80-tickets","type":"band","image":null,"home_venue_id":null,"slug":"m80","score":0.417,"images":{},"taxonomies":[{"parent_id":null,"id":2000000,"name":"concert"}],"has_upcoming_events":true,"id":26265},{"stats":{"event_count":2},"name":"Killah
        Priest","short_name":"Killah Priest","url":"https://seatgeek.com/killah-priest-tickets","type":"band","image":null,"home_venue_id":null,"primary":true,"score":0,"images":{},"slug":"killah-priest","taxonomies":[{"parent_id":null,"id":2000000,"name":"concert"}],"has_upcoming_events":true,"id":71428}],"url":"https://seatgeek.com/killah-priest-with-m80-tickets/indianapolis-indiana-the-hi-fi-2-2014-11-07-3-30-am/concert/2324333/","created_at":"2014-09-09T00:00:00","venue":{"city":"Indianapolis","name":"The
        Hi Fi","extended_address":"Indianapolis, IN 46203","url":"https://seatgeek.com/venues/the-hi-fi-2/tickets/","country":"US","display_location":"Indianapolis,
        IN","links":[],"slug":"the-hi-fi-2","state":"IN","score":0.17079,"postal_code":"46203","location":{"lat":39.7527,"lon":-86.141},"address":"1043
        Virginia Ave","timezone":"America/New_York","id":61655},"short_title":"Killah
        Priest with M80","datetime_utc":"2014-11-07T08:30:00","datetime_tbd":false},{"links":[],"id":2055902,"stats":{"listing_count":0,"average_price":null,"lowest_price":null,"highest_price":null},"title":"Tab
        Benoit","announce_date":"2014-03-21T00:00:00","score":0.31634,"date_tbd":false,"type":"concert","datetime_local":"2014-11-07T03:30:00","visible_until_utc":"2014-11-08T05:00:00","time_tbd":true,"taxonomies":[{"parent_id":null,"id":2000000,"name":"concert"}],"performers":[{"stats":{"event_count":15},"name":"Tab
        Benoit","short_name":"Tab Benoit","url":"https://seatgeek.com/tab-benoit-tickets","type":"band","image":"https://chairnerd.global.ssl.fastly.net/images/performers-landscape/tab-benoit-dc53a3/10629/huge.jpg","home_venue_id":null,"primary":true,"score":0.33933,"images":{"huge":"https://chairnerd.global.ssl.fastly.net/images/performers-landscape/tab-benoit-dc53a3/10629/huge.jpg"},"slug":"tab-benoit","taxonomies":[{"parent_id":null,"id":2000000,"name":"concert"}],"has_upcoming_events":true,"id":10629,"genres":[{"slug":"blues","primary":true,"name":"blues"}]}],"url":"https://seatgeek.com/tab-benoit-tickets/gainesville-florida-university-of-florida-2014-11-07-3-30-am/concert/2055902/","created_at":"2014-03-21T00:00:00","venue":{"city":"Gainesville","name":"University
        Of Florida","extended_address":"Gainesville, FL 32611","url":"https://seatgeek.com/venues/university-of-florida/tickets/","country":"US","display_location":"Gainesville,
        FL","links":[],"slug":"university-of-florida","state":"FL","score":0,"postal_code":"32611","location":{"lat":29.6453,"lon":-82.3464},"address":"2151
        W. University Ave.","timezone":"America/New_York","id":7009},"short_title":"Tab
        Benoit","datetime_utc":"2014-11-07T08:30:00","general_admission":true,"datetime_tbd":false},{"links":[],"id":2009315,"stats":{"listing_count":0,"average_price":null,"lowest_price":null,"highest_price":null},"title":"Balsam
        Range","announce_date":"2014-02-16T16:25:20","score":0.20131,"date_tbd":false,"type":"concert","datetime_local":"2014-11-07T03:30:00","visible_until_utc":"2014-11-08T05:00:00","time_tbd":true,"taxonomies":[{"parent_id":null,"id":2000000,"name":"concert"}],"performers":[{"stats":{"event_count":2},"name":"Balsam
        Range","short_[...]
