---
http_interactions:
- request:
    method: get
    uri: https://api.seatgeek.com/2/events?q=new-york-giants
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"019cb168b687e9a414f8944f7bc4fc6af061f540"'
    body:
      encoding: UTF-8
      string: '{"meta":{"per_page":10,"total":11,"geolocation":null,"took":5,"page":1},"events":[{"links":[],"id":2101786,"stats":{"listing_count":630,"average_price":236.5,"lowest_price":120.0,"highest_price":1728.0},"title":"New
        York Giants at Seattle Seahawks","announce_date":"2014-04-24T00:00:00","score":0.82518,"date_tbd":false,"type":"nfl","datetime_local":"2014-11-09T13:25:00","visible_until_utc":"2014-11-10T01:25:00","time_tbd":false,"taxonomies":[{"parent_id":null,"id":1000000,"name":"sports"},{"parent_id":1000000,"id":1020000,"name":"football"},{"parent_id":1020000,"id":1020100,"name":"nfl"}],"performers":[{"away_team":true,"stats":{"event_count":8},"name":"New
        York Giants","short_name":"Giants","url":"https://seatgeek.com/new-york-giants-tickets","type":"nfl","image":"https://chairnerd.global.ssl.fastly.net/images/performers-landscape/new-york-giants-56d333/2079/huge.jpg","home_venue_id":1587,"slug":"new-york-giants","score":0.8526,"images":{"huge":"https://chairnerd.global.ssl.fastly.net/images/performers-landscape/new-york-giants-56d333/2079/huge.jpg","medium":"https://chairnerd.global.ssl.fastly.net/images/performers/2079/new-york-giants-4ce91d/medium.jpg","large":"https://chairnerd.global.ssl.fastly.net/images/performers/2079/new-york-giants-638094/large.jpg","small":"https://chairnerd.global.ssl.fastly.net/images/performers/2079/new-york-giants-88909c/small.jpg"},"taxonomies":[{"parent_id":null,"id":1000000,"name":"sports"},{"parent_id":1000000,"id":1020000,"name":"football"},{"parent_id":1020000,"id":1020100,"name":"nfl"}],"has_upcoming_events":true,"id":2079},{"stats":{"event_count":8},"name":"Seattle
        Seahawks","short_name":"Seahawks","url":"https://seatgeek.com/seattle-seahawks-tickets","type":"nfl","image":"https://chairnerd.global.ssl.fastly.net/images/performers-landscape/seattle-seahawks-c47e21/2081/huge.jpg","home_team":true,"home_venue_id":339,"primary":true,"score":0.8294,"images":{"huge":"https://chairnerd.global.ssl.fastly.net/images/performers-landscape/seattle-seahawks-c47e21/2081/huge.jpg","medium":"https://chairnerd.global.ssl.fastly.net/images/performers/2081/seattle-seahawks-1c90b4/medium.jpg","large":"https://chairnerd.global.ssl.fastly.net/images/performers/2081/seattle-seahawks-a9050a/large.jpg","small":"https://chairnerd.global.ssl.fastly.net/images/performers/2081/seattle-seahawks-c96a21/small.jpg"},"slug":"seattle-seahawks","taxonomies":[{"parent_id":null,"id":1000000,"name":"sports"},{"parent_id":1000000,"id":1020000,"name":"football"},{"parent_id":1020000,"id":1020100,"name":"nfl"}],"has_upcoming_events":true,"id":2081}],"url":"https://seatgeek.com/giants-at-seahawks-tickets/11-9-2014-seattle-washington-centurylink-field/nfl/2101786/","created_at":"2014-04-24T00:00:00","venue":{"city":"Seattle","name":"CenturyLink
        Field","extended_address":"Seattle, WA 98134","url":"https://seatgeek.com/venues/centurylink-field/tickets/","country":"US","display_location":"Seattle,
        WA","links":[],"slug":"centurylink-field","state":"WA","score":0.87354,"postal_code":"98134","location":{"lat":47.5935,"lon":-122.332},"address":"800
        Occidental Ave S","timezone":"America/Los_Angeles","id":339},"short_title":"Giants
        at Seahawks","datetime_utc":"2014-11-09T21:25:00","datetime_tbd":false},{"links":[],"id":2101779,"stats":{"listing_count":1072,"average_price":412.0,"lowest_price":184.0,"highest_price":11222.0},"title":"San
        Francisco 49ers at New York Giants","announce_date":"2014-04-24T00:00:00","score":0.85792,"date_tbd":false,"type":"nfl","datetime_local":"2014-11-16T13:00:00","visible_until_utc":"2014-11-16T22:00:00","time_tbd":false,"taxonomies":[{"parent_id":null,"id":1000000,"name":"sports"},{"parent_id":1000000,"id":1020000,"name":"football"},{"parent_id":102[...]
