---
http_interactions:
- request:
    method: get
    uri: https://api.seatgeek.com/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<html><title>404: Not Found</title><body>404: Not Found</body></html>"
  recorded_at: Sun, 09 Nov 2014 05:54:25 GMT
- request:
    method: get
    uri: https://api.seatgeek.com/2/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"0cd66ff8604d6078c011ee1aca986e439a4287db"'
    body:
      encoding: UTF-8
      string: '{"meta":{"per_page":10,"total":124326,"geolocation":null,"took":5,"page":1},"events":[{"links":[],"id":2200183,"stats":{"listing_count":0,"average_price":null,"lowest_price":null,"highest_price":null},"title":"Angel
        Olsen","announce_date":"2014-06-11T00:00:00","score":0.3854,"date_tbd":false,"type":"concert","datetime_local":"2014-11-08T03:30:00","visible_until_utc":"2014-11-09T06:00:00","time_tbd":true,"taxonomies":[{"parent_id":null,"id":2000000,"name":"concert"}],"performers":[{"stats":{"event_count":10},"name":"Angel
        Olsen","short_name":"Angel Olsen","url":"https://seatgeek.com/angel-olsen-tickets","type":"band","image":"https://chairnerd.global.ssl.fastly.net/images/performers-landscape/angel-olsen-8724cc/23743/huge.jpg","home_venue_id":null,"primary":true,"score":0.41096,"images":{"huge":"https://chairnerd.global.ssl.fastly.net/images/performers-landscape/angel-olsen-8724cc/23743/huge.jpg"},"slug":"angel-olsen","taxonomies":[{"parent_id":null,"id":2000000,"name":"concert"}],"has_upcoming_events":true,"id":23743,"genres":[{"slug":"folk","primary":true,"name":"folk"}]}],"url":"https://seatgeek.com/angel-olsen-tickets/austin-texas-fun-fun-fun-festival-2014-11-08-3-30-am/concert/2200183/","created_at":"2014-06-11T00:00:00","venue":{"city":"Austin","name":"Fun
        Fun Fun Festival","extended_address":"Austin, TX ","url":"https://seatgeek.com/venues/fun-fun-fun-festival/tickets/","country":"US","display_location":"Austin,
        TX","links":[],"slug":"fun-fun-fun-festival","state":"TX","score":0,"postal_code":"","location":{"lat":30.2676,"lon":-97.743},"address":"Venue
        to be announced","timezone":"America/Chicago","id":17653},"short_title":"Angel
        Olsen","datetime_utc":"2014-11-08T09:30:00","general_admission":true,"datetime_tbd":false},{"links":[],"id":2351330,"stats":{"listing_count":0,"average_price":null,"lowest_price":null,"highest_price":null},"title":"Kevin
        Fowler","announce_date":"2014-10-01T00:00:00","score":0.47273,"date_tbd":false,"type":"concert","datetime_local":"2014-11-08T03:30:00","visible_until_utc":"2014-11-09T06:00:00","time_tbd":true,"taxonomies":[{"parent_id":null,"id":2000000,"name":"concert"}],"performers":[{"stats":{"event_count":5},"name":"Kevin
        Fowler","short_name":"Kevin Fowler","url":"https://seatgeek.com/kevin-fowler-tickets","type":"band","image":"https://chairnerd.global.ssl.fastly.net/images/performers-landscape/kevin-fowler-652d3a/1051/huge.jpg","home_venue_id":null,"primary":true,"score":0.35588,"images":{"huge":"https://chairnerd.global.ssl.fastly.net/images/performers-landscape/kevin-fowler-652d3a/1051/huge.jpg","medium":"https://chairnerd.global.ssl.fastly.net/images/performers/1051/kevin-fowler-a08578/medium.jpg","large":"https://chairnerd.global.ssl.fastly.net/images/performers/1051/kevin-fowler-1e01d3/large.jpg","small":"https://chairnerd.global.ssl.fastly.net/images/performers/1051/kevin-fowler-6c98b6/small.jpg"},"slug":"kevin-fowler","taxonomies":[{"parent_id":null,"id":2000000,"name":"concert"}],"has_upcoming_events":true,"id":1051,"genres":[{"slug":"country","primary":true,"name":"country"}]}],"url":"https://seatgeek.com/kevin-fowler-tickets/lubbock-texas-wild-west-2-2014-11-08-3-30-am/concert/2351330/","created_at":"2014-10-01T00:00:00","venue":{"city":"Lubbock","name":"Wild
        West","extended_address[...]
[...]
