---
http_interactions:
- request:
    method: get
    uri: https://api.seatgeek.com/2/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"915ba04db05dc3d36e4aeb5d4fb4126a2ea357e7"'
    body:
      encoding: UTF-8
      string: '{"meta":{"per_page":10,"total":126245,"geolocation":null,"took":8,"page":1},"events":[{"links":[],"id":2235271,"stats":{"listing_count":0,"average_price":null,"lowest_price":null,"highest_price":null},"title":"Cash","announce_date":"2014-07-06T00:00:00","score":0,"date_tbd":false,"type":"concert","datetime_local":"2014-11-07T03:30:00","visible_until_utc":"2014-11-07T23:00:00","time_tbd":true,"taxonomies":[{"parent_id":null,"id":2000000,"name":"concert"}],"performers":[{"stats":{"event_count":7},"name":"Cash","short_name":"Cash","url":"https://seatgeek.com/cash-tickets","type":"band","image":null,"home_venue_id":null,"primary":true,"score":0,"images":{},"slug":"cash","taxonomies":[{"parent_id":null,"id":2000000,"name":"concert"}],"has_upcoming_events":true,"id":24219,"genres":[{"slug":"country","primary":true,"name":"country"}]}],"url":"https://seatgeek.com/cash-tickets/biberach-stadthalle-biberach-2014-11-07-3-30-am/concert/2235271/","created_at":"2014-07-06T00:00:00","venue":{"city":"Biberach","name":"Stadthalle
        - Biberach","extended_address":"Biberach, Germany","url":"https://seatgeek.com/venues/stadthalle-biberach/tickets/","country":"Germany","display_location":"Biberach,
        Germany","links":[],"slug":"stadthalle-biberach","state":"Baden-wurttemberg","score":0,"postal_code":"88400","location":{"lat":48.29,"lon":10.22},"address":"Marktplatz
        7/1","timezone":"Europe/Berlin","id":30888},"short_title":"Cash","datetime_utc":"2014-11-07T02:30:00","datetime_tbd":false},{"links":[],"id":2350063,"stats":{"listing_count":null,"average_price":null,"lowest_price":null,"highest_price":null},"title":"Acid
        Baby Jesus","announce_date":"2014-10-01T00:00:00","score":0,"date_tbd":false,"type":"concert","datetime_local":"2014-11-07T03:30:00","visible_until_utc":"2014-11-08T00:00:00","time_tbd":true,"taxonomies":[{"parent_id":null,"id":2000000,"name":"concert"}],"performers":[{"stats":{"event_count":2},"name":"Acid
        Baby Jesus","short_name":"Acid Baby [...]
[...]
