---
http_interactions:
- request:
    method: get
    uri: https://api.seatgeek.com/2/venues?city=new-york
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"a0e4300902feb114fe8e6fef39f0dc834e48af9b"'
    body:
      encoding: UTF-8
      string: '{"meta":{"per_page":10,"total":941,"geolocation":null,"took":4,"page":1},"venues":[{"city":"New
        York","name":"Madison Square Garden","extended_address":"New York, NY 10001","url":"https://seatgeek.com/venues/madison-square-garden/tickets/","country":"US","display_location":"New
        York, NY","links":[],"slug":"madison-square-garden","state":"NY","score":0.89926,"postal_code":"10001","location":{"lat":40.75,"lon":-73.9942},"address":"4
        Pennsylvania Plaza","timezone":"America/New_York","id":93},{"city":"New York","name":"Jacob
        K. Javits Convention Center","extended_address":"New York, NY 10001","url":"https://seatgeek.com/venues/jacob-k-javits-convention-center/tickets/","country":"US","display_location":"New
        York, NY","links":[],"slug":"jacob-k-javits-convention-center","state":"NY","score":0.7895,"postal_code":"10001","location":{"lat":40.7564,"lon":-74.0035},"address":"655
        W. 34th St.","timezone":"America/New_York","id":32196},{"city":"New York","name":"G[...]
