---
http_interactions:
- request:
    method: get
    uri: https://api.seatgeek.com/2/venues?q=madison-square-garden
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"062dbead4a04f1903d08ac385581e0b1cdb4f464"'
    body:
      encoding: UTF-8
      string: '{"meta":{"per_page":10,"total":2,"geolocation":null,"took":3,"page":1},"venues":[{"city":"New
        York","name":"Madison Square Garden","extended_address":"New York, NY 10001","url":"https://seatgeek.com/venues/madison-square-garden/tickets/","country":"US","display_location":"New
        York, NY","links":[],"slug":"madison-square-garden","state":"NY","score":0.8992,"postal_code":"10001","location":{"lat":40.6948,"lon":-73.913},"address":"4
        Pennsylvania Plaza","timezone":"America/New_York","id":93},{"city":"New York","name":"The
        Theater at Madison Square Garden","extended_address":"New York, NY 10001","url":"https://seatgeek.com/venues/the-theater-at-madison-square-garden/tickets/","country":"US","display_location":"New
        York, NY","links":[],"slug":"the-theater-at-madison-square-garden","state":"NY","score":0.64818,"postal_code":"10001","location":{"lat":40.75,"lon":-73.9942},"address":"4
        Pennsylvania Plaza","timezone":"America/New_York","id":2513}]}'
  recorded_at: Tue, 11 Nov 2014 15:29:58 GMT
recorded_with: VCR 2.9.2
