---
http_interactions:
- request:
    method: get
    uri: https://api.seatgeek.com/2/2513
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: '<html><title>404: Not Found</title><body>404: Not Found</body></html>'
  recorded_at: Fri, 07 Nov 2014 18:12:43 GMT
- request:
    method: get
    uri: https://api.seatgeek.com/2/venues/2513
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"d009a2d62aa4dab6713581308cc2773118252f8a"'
    body:
      encoding: UTF-8
      string: '{"city":"New York","name":"The Theater at Madison Square Garden","extended_address":"New
        York, NY 10001","url":"https://seatgeek.com/venues/the-theater-at-madison-square-garden/tickets/","country":"US","display_location":"New
        York, NY","links":[],"slug":"the-theater-at-madison-square-garden","state":"NY","score":0.64818,"postal_code":"10001","location":{"lat":40.75,"lon":-73.9942},"address":"4
        Pennsylvania Plaza","timezone":"America/New_York","id":2513}'
  recorded_at: Sun, 09 Nov 2014 02:40:55 GMT
- request:
    method: get
    uri: https://api.seatgeek.com/2?id=2513
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: '<html><title>404: Not Found</title><body>404: Not Found</body></html>'
  recorded_at: Sun, 09 Nov 2014 05:54:25 GMT
- request:
    method: get
    uri: https://api.seatgeek.com/2/venues?id=2513
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"9176aefd7748a20cce789e64c427796cebd61e3a"'
    body:
      encoding: UTF-8
      string: '{"meta":{"per_page":1,"total":1,"geolocation":null,"took":2,"page":1},"venues":[{"city":"New
        York","name":"The Theater at Madison Square Garden","extended_address":"New
        York, NY 10001","url":"https://seatgeek.com/venues/the-theater-at-madison-square-garden/tickets/","country":"US","display_location":"New
        York, NY","links":[],"slug":"the-theater-at-madison-square-garden","state":"NY","score":0.64818,"postal_code":"10001","location":{"lat":40.75,"lon":-73.9942},"address":"4
        Pennsylvania Plaza","timezone":"America/New_York","id":2513}]}'
  recorded_at: Sun, 09 Nov 2014 06:09:55 GMT
- request:
    method: get
    uri: https://api.seatgeek.com/2/venues?id=93
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"008525a14e63521f1b8271f6c027c2840ef6ab45"'
    body:
      encoding: UTF-8
      string: '{"meta":{"per_page":1,"total":1,"geolocation":null,"took":4,"page":1},"venues":[{"city":"New
        York","name":"Madison Square Garden","extended_address":"New York, NY 10001","url":"https://seatgeek.com/venues/madison-square-garden/tickets/","country":"US","display_location":"New
        York, NY","links":[],"slug":"madison-square-garden","state":"NY","score":0.8992,"postal_code":"10001","location":{"lat":40.6948,"lon":-73.913},"address":"4
        Pennsylvania Plaza","timezone":"America/New_York","id":93}]}'
  recorded_at: Tue, 11 Nov 2014 15:29:58 GMT
recorded_with: VCR 2.9.2
