---
http_interactions:
- request:
    method: get
    uri: https://api.seatgeek.com/2/venues?postal_code=10001
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"5384bae62f473f369f2f265ee5b9df5c37235737"'
    body:
      encoding: UTF-8
      string: '{"meta":{"per_page":10,"total":2048,"geolocation":{"city":"New York","display_name":"New
        York, NY","country":"US","lon":-73.9972,"range":"50mi","state":"NY","postal_code":"10001","lat":40.7517},"took":5,"page":1},"venues":[{"city":"East
        Rutherford","name":"MetLife Stadium","extended_address":"East Rutherford,
        NJ 07073","url":"https://seatgeek.com/venues/metlife-stadium/tickets/","country":"US","display_location":"East
        Rutherford, NJ","links":[],"slug":"metlife-stadium","state":"NJ","score":0.95762,"postal_code":"07073","location":{"lat":40.8128,"lon":-74.0742},"address":"1
        MetLife Stadium Drive","timezone":"America/New_York","id":1587},{"city":"Elmont","name":"Belmont
        Park","extended_address":"Elmont, NY 11003","url":"https://seatgeek.com/venues/belmont-park/tickets/","country":"US","display_location":"Elmont,
        NY","links":[],"slug":"belmont-park","state":"NY","score":0.95373,"postal_code":"11003","location":{"lat":40.7092,"lon":-73.7216},"address":"2150
        Hempstead Turnpike","timezone":"America/New_York","id":1651},{"city":"Bronx","name":"Yankee
        Stadium","extended_address":"Bronx, NY 10451",[...]
